@media print {
  html {
  font-family: 'Poppins', sans-serif;
  color: #000000;
  }
  a {
    text-decoration: underline;
    color: #0000EE;
  }
  .italic {
    font-style: italic;
  }
  .bioContainer {
    display: flex;
  }
  .bioImage {
    margin: 20px;
  }
  .bioImage img {
    display: block;
    width: 3in;
    height: 4.5in;
  }
  .bioImage p {
    font-style: italic;
    width: 30vh
  }
}