body {
  background-color: limegreen;
  font-family: 'Nunito', sans-serif;
}
a {
  color: black;
}
p {
 margin: 0% 30%;
 padding-bottom: 40px;
}
hr {
  background-color:#000000;
  border-color: transparent;
  margin-top: 0px;
  margin-bottom: 0px;
}
footer {
  margin-top: 0px
}