/* Basic stuff */
@font-face {font-family: 'Apfel Grotezk';src: url('/fonts/ApfelGrotezk-Regular.woff2') format('woff2');font-weight: 400;font-style: normal;}
@font-face {font-family: 'Apfel Grotezk';src: url('/fonts/ApfelGrotezk-Mittel.woff2') format('woff2');font-weight: 600;font-style: normal;}
@font-face {font-family: 'Apfel Grotezk';src: url('/fonts/ApfelGrotezk-Fett.woff2') format('woff2');font-weight: 700;font-style: normal;}
@font-face {font-family: 'Apfel Grotezk';src: url('/fonts/ApfelGrotezk-Satt.woff2') format('woff2');font-weight: 900;font-style: normal;}
@font-face {font-family: 'Apfel Grotezk Brukt';src: url('/fonts/ApfelGrotezk-Brukt.woff2') format('woff2');font-weight: 400;font-style: normal;}
html {
font-family: 'Apfel Grotezk', sans-serif;
  background-color: #507D5A; /* old: 5f8867 */
  color: #fff8ed;
  box-sizing: border-box;
}
body {
  animation: fadeIn linear 2s;
  min-height: 100vh;
  margin: 0;
}
@keyframes fadeIn {
  0% {opacity:0;}
  100% {opacity:1;}
}
p {
  font-size: 20px;
  line-height: 1.3;
}
img {
  user-drag: none; 
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none;
}
a {
  color: #fff8ed;
  text-decoration: none;
  transition: 0.2s;
  border-bottom: 1.5px solid #fff8ed;
}
a:hover {
  cursor: pointer;
  box-shadow: 0px 1.5px 0px 0px #fff8ed;
}
/* Inputs */
input {
  margin: 5px;
  border:1.5px #fff8ed solid;
  border-radius: 0;
  padding:8px;
  background:#507D5A;
  color:#fff8ed;
}
input::placeholder {
  color:#fff8ed;
}
input[type="button"], input[type="submit"] {
  transition: all .2s ease-in-out;
  cursor: pointer;
}
input[type="button"]:hover, input[type="submit"]:hover {
  box-shadow: 0 0 0 1.5px #fff8ed;
}
input[type="button"]:active, input[type="submit"]:active {
  box-shadow: 0 0 0 0px #fff8ed;
}
/* Placement */
.flex {
  display: flex;
}
.center {
  justify-content:center;
  align-items:center;
}
.textcenter {
  text-align:center;
}
/* Random styles and stuff */
.bioContainer {
  width: 90vw;
  padding-top: 20px;
}
.bioImage {
  width: 29vw;
  margin:0;
  padding:0;
}
.bioImage img {
  width: 29vw;
  height: auto;
}
.bioImage p {
  font-size: 16px;
  margin:0;
  padding:0;
}
.italic {
  font-style: italic;
}
.bioText {
  width: 60vw;
  height: auto;
  padding: 0px 20px 20px 40px;
  box-sizing: border-box;
}
.hey {
  font-size: 50px;
  font-weight:700;
  line-height:1;
  margin:0;
}

.printDisclaimer {
  display: none;
}
/* Mobile */
@media screen and (max-width: 800px) {
  .bioContainer {
    width: 100%;
  }
  .bioImage {
    margin: 0 20px;
    width: 33.333vh;
  }
  .bioImage img {
    width: 33.333vh;
    max-width: 90vw;
  }
  .bioImage p {
    display: none;
  }
  .bioText {
    width: 100%;
    height: auto;
    padding: 20px;
    box-sizing: border-box;
  }
  .hey {
    font-size: 40px;
  }
  .flex {
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
}
/* Accessibility */
:focus-visible {
  outline: 2px solid #fff8ed;
  transition: 0s;
}
@media (prefers-reduced-motion: reduce) {
  body {
    opacity: 1;
    animation: none;
  }
  a, input[type="button"], input[type="submit"] {
    transition: 0s;
  }
}
/* Highlighting */
::selection {
  background: rgba(255, 248, 237,.2);
}
::-moz-selection {
  background: rgba(255, 248, 237,.2);
}